body {
  background-image: linear-gradient(180deg, #121214,#352a7c,#191970,#121214);
  font-family: var(--font-family);
  height: 100vh;
}

header {
  text-align: center;
}

h1,h2{
  margin-top: 1em;
    font-size: 1.2em;
}

a {
  text-decoration:underline;
}

a:hover{
    color: var(--hover-link);
}
